<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" id="app">
			<header class="header">
				<h1>todos</h1>
				<input 
				v-foucs
				@keyup.enter="addVal()"
				v-model="setVal"
				class="new-todo" 
				placeholder="What needs to be done?" 
				autofocus>
			</header>
			<section class="main">
				<input 
					id="toggle-all" 
					class="toggle-all" 
					type="checkbox"
					v-model="newAll"
				>
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li 
						:class="{completed:item.isFinish}" 
						v-for="(item,i) in list" 
						:key="item.id">
						<div class="view">
							<input 
							class="toggle" 
							type="checkbox" 
							v-model="item.isFinish">
							<label>{{item.content}}</label>
							<button 
								class="destroy"
								@click="dele(i)"
								></button>
						</div>
						<input class="edit" value="Create a TodoMVC template">
					</li>
					
				</ul>
			</section>
			<footer class="footer">
				<span class="todo-count"><strong>{{numb}}</strong> item left</span>
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<button 
					class="clear-completed"
					@click="deleAll"
					>Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="./node_modules/vue/dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
